@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre&display=swap');

.he {
    font-family: 'Frank Ruhl Libre', serif;
    font-size: 2rem;
}

.quiz {
    text-align: center;
    font-size: 7rem;
}

.gematria > tr > td {
    text-align: center;
}

.bingo > tr > th {
    text-align: center;
    font-size: 2rem;
}

.bingo > tr:nth-child(4) > td:nth-child(3) > button:nth-child(1) {
    font-size: 1.3rem;
}

.bingo > tr > td {
    text-align: center;
    font-size: 2rem;
}

.bold {
    font-weight: bold;
}

.cheatsheet {
    border-width: 1px;
    border-style: dotted;
}

.cheatsheet > h2 {
    text-align: center;
}

tr > td {
    text-align: center;
}

.goldcoin {
    background: #ffbd0b;
    border-radius: 50%;
    font-size: 1rem;
    border-top: 7px solid #ffd84c;
    border-left: 7px solid #ffd84c;
    border-right: 7px solid #d57e08;
    border-bottom: 7px solid #d57e08;
    color: #d67f08;
    text-align: center;
    display: inline;
    margin: 4px;
}

.strikeout {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
}

span.header > h1, span.header > h3 {
    color: #86d686;
    font-family: "monospace";
}

span.header h1::before, span.header h3::before {
    content: "❯ "
}

span.header h1::after, span.header h3::after {
    content: "█";
    /* width: 5px; */
    /* height: 20px; */
    display: inline-block;
    animation: cursor-blink 1.25s steps(2) infinite;
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
}